-# page_title t('.page_title')
=render 'shared/sidebar_header', main: 'Change Password', gray: '', decsription: 'Use this window to change your password.'

.row
  .col-xs-6
    - if notice
      .alert.alert-success= notice
    - else
      - @user.errors.full_messages.each do |e|
        .alert.alert-danger= e

    = form_for(:user, url: user_path, method: :patch) do |f|
      .form-group
        = f.label :name
        = f.text_field :name, class: " new-input", disabled: true
      .form-group
        = f.label :current_password
        = f.password_field :current_password, class: "new-input"
      .form-group
        = f.label :password
        = f.password_field :password, class: "new-input"
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: "new-input"

      .padd_top_md
        = f.submit t("terms.update_password"), class: "mdc-button gex-btn-new"
