.row.no_marg{:style=>"width: 100%; overflow-x: hidden;"}
  .col-md-12.no_padd{:style=>"widht: 100%"}
    .navbar-header
      .row.bord_bott
        .navbar-toggle{ :style=>"float: left; padding: 0px; margin: 0px; width: 100%;"}
          .row
            .col-xs-1.no_padd{:style=>"cursor: pointer"}
              .padd_left_md
                .close-icon{:style=>"padding-top: 14pt; display: none; margin-left: -2px", "ng-click"=> "hideXsMenu()"}
                  =image_tag "icons/close.svg", :width=>"25pt", :style=>"opacity: 0.7"
                .menu-icon{:style=>"padding-top: 18pt", "data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button", "ng-click"=> "showXsMenu()"}
                  %span.icon-bar
                  %span.icon-bar
                  %span.icon-bar
            .col-xs-10.no_padd{:style=>"text-align: left;"}
              %h3.step_text.side_menu_h{:style=>"color: #434343"}
                Workspace

    #target.container-fluid.no_padd.no_marg
      #myNavbar.collapse.navbar-collapse.no_padd.no_marg
        %ul.nav.navbar-nav.no_padd.no_marg{:style=>"float: none; width: 100%"}
          %ul.nav.navbar-nav.no_padd.no_marg{:style=>"float: none; width: 100%"}
            .padd_bott_mdz.install_step
              .flex-container-all
                .flex-wrap{style:'margin: 20px 0px 20px 0px;'}
                  %h3.left-menu-h  Data

          -#-selected = current_page?(daemon_path) ? 'current' : ''
          -#= link_to daemon_path, class: "left-menu-el left-menu-#{selected}" do
            .fl-cont.gx-fl-center
              .fl-wrap.padd_ri_sm
                = inline_svg "icons/dashboard.svg"
              .fl-wrap
                %h3=t('fluentd.show.page_title')


          -selected = is_agents_page ? 'current' : ''
          = link_to  agents_path, class: "left-menu-el left-menu-#{selected}" do
            .fl-cont.gx-fl-center
              .fl-wrap.padd_ri_sm
                = inline_svg "icons/agents.svg"
              .fl-wrap
                %h3=t('agents.page_title')

          -selected = current_page?(kudu_tables_path) ? 'current' : ''
          = link_to kudu_tables_path, class: "left-menu-el left-menu-#{selected}" do
            .fl-cont.gx-fl-center
              .fl-wrap.padd_ri_sm
                = inline_svg "icons/dashboard.svg"
              .fl-wrap
                %h3=t('kudu.show.page_title')

          .install_step.side_menu_ln
            %h3.left-menu-h=t('terms.misc')

          -selected = current_page?(user_path) ? 'current' : ''
          = link_to user_path, class: "left-menu-el left-menu-#{selected}" do
            .fl-cont.gx-fl-center
              .fl-wrap.padd_ri_sm
                = inline_svg "icons/key.svg"
              .fl-wrap
                %h3=t('users.show.page_title')

.div{style:'position: absolute; bottom: 20px; left: 20px;'}
  .gx-bage.lite-gr-bage.gr Beta