.row.no_marg{:style=>"width: 100%; overflow-x: hidden;"}
  .col-md-12.no_padd{:style=>"widht: 100%"}
    .navbar-header
      .row.bord_bott
        .navbar-toggle{ :style=>"float: left; padding: 0px; margin: 0px; width: 100%;"}
          .row
            .col-xs-1.no_padd{:style=>"cursor: pointer"}
              .padd_left_md
                .close-icon{:style=>"padding-top: 14pt; display: none; margin-left: -2px", "ng-click"=> "hideXsMenu()"}
                  =image_tag "icons/close.svg", :width=>"25pt", :style=>"opacity: 0.7"
                .menu-icon{:style=>"padding-top: 18pt", "data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button", "ng-click"=> "showXsMenu()"}
                  %span.icon-bar
                  %span.icon-bar
                  %span.icon-bar
            .col-xs-10.no_padd{:style=>"text-align: left;"}
              %h3.step_text.side_menu_h{:style=>"color: #434343"}
                Workspace


    #target.container-fluid.no_padd.no_marg
      #myNavbar.collapse.navbar-collapse.no_padd.no_marg
        %ul.nav.navbar-nav.no_padd.no_marg{:style=>"float: none; width: 100%"}
          %ul.nav.navbar-nav.no_padd.no_marg{:style=>"float: none; width: 100%"}
            .padd_bott_mdz.install_step
              .flex-container-all
                .flex-wrap{style:'margin: 20px 0px 20px 0px;'}
                  %h3.step_text.side_menu_h  Workspace


          = link_to daemon_path, class:'undec' do
            -selected = current_page?(daemon_path) ? 'current' : ''
            .div{class: selected}
              .install_step.side_menu_element(ng-class="pageSelected == 'clusters' ? 'current_step' : ''" data-div="team_clusters")
                .fl-cont.gx-fl-center
                  .fl-wrap
                    = inline_svg "icons/dashboard.svg", class: "workspace_icon {{pageSelected == 'clusters' ? 'workspace_icon_current' : ''}}"
                  .fl-wrap
                    %h3.step_text.step_text_icon.side_menu_text.no_marg_top(ng-class="pageSelected == 'clusters' ? 'current_step_text' : ''")
                      =t('fluentd.show.page_title')

          = link_to  agents_path, class:'undec' do
            -selected = is_agents_page ? 'current' : ''
            .div{class: selected}
              .install_step.side_menu_element(ng-class="pageSelected == 'clusters' ? 'current_step' : ''" data-div="team_clusters")
                .fl-cont.gx-fl-center
                  .fl-wrap
                    = inline_svg "icons/agents.svg", class: "workspace_icon {{pageSelected == 'clusters' ? 'workspace_icon_current' : ''}}"
                  .fl-wrap
                    %h3.step_text.step_text_icon.side_menu_text.no_marg_top(ng-class="pageSelected == 'clusters' ? 'current_step_text' : ''")
                      =t('agents.page_title')

          .install_step.side_menu_ln
            %h3.step_text.side_menu_h.uppercase{style:'margin: 20px 0px 20px 0px;'}=t('terms.misc')
          = link_to user_path, class: 'undec' do
            -selected = current_page?(user_path) ? 'current' : ''
            .div{class: selected}
              .install_step.side_menu_element
                .fl-cont.gx-fl-center
                  .fl-wrap
                    = inline_svg "icons/key.svg", class: "workspace_icon"
                  .fl-wrap
                    %h3.step_text.step_text_icon.side_menu_text.no_marg_top
                      =t('users.show.page_title')



.div{style:'position: absolute; bottom: 20px; left: 20px;'}
  .gx-bage.lite-gr-bage.gr Beta