.sidebar-header
  .fl-wrap.fl-grow
    .fl-cont
      .fl-wrap.padd_ri_sm
        %h2.sb-text.sb-h1-text.gr Agent
      .fl-wrap
        %h2.sb-text.sb-h1-text=@agent.title

    .clearfix
    %p.sb-p-text.gr
      Use this window to manage agent.


.app_wrap.border.marg_bott_md
  .fl-cont.gx-fl-center.padd_md
    .fl-wrap.padd_ri_10
      .card-h-icon
        .svg-wrap
          =inline_svg "icons/info.svg", class: "sm-icon white-svg fx-sm-icon"
    .fl-wrap
      %p.card-h.bold Info

  .padd_md.marg_left_10
    .padd_bott_md
      %table
        %tbody
          %tr
            %td.padd_ri_big
              %h4.no_marg.gr Name:
            %td
              %h4.no_marg=@agent.conf_name
          %tr
            %td.padd_top_md.padd_ri_big
              %h4.no_marg.gr Status:
            %td.padd_top_md
              .fl-cont.gx-fl-center
                .fl-wrap.padd_ri_10
                  =inline_svg 'icons/circle.svg', class: "#{get_status_color(@agent.status)}-svg sm-icon"
                .fl-wrap
                  %h4.no_marg=@agent.status

          %tr
            %td.padd_ri_big.padd_top_md
              %h4.no_marg.gr Type:
            %td.padd_top_md
              .fl-cont.fl-center.padd_left_10
                .fl-wrap.padd_ri_10
                  =inline_svg "icons/sources/#{@agent.name}.svg", class:"sm-icon lite-gr-svg"
                .fl-wrap
                  %h4.no_marg=@agent.name

          -#%tr
            %td.padd_ri_big.padd_top_md
              %h4.no_marg.gr Tag:
            %td.padd_top_md
              .fl-cont
                .fl-wrap
                  %h4.no_marg=@agent.tag
                  -#.gx-bage.gx-bage-lg.lite-gr-bage
                    .fl-cont.fl-center
                      .fl-wrap.marg_left_sm.marg_ri_sm
                        %h6.no_marg.one-liner{style:'color: #585858;'}=@agent.tag


.app_wrap.border.marg_bott_md
  .fl-cont.gx-fl-center.padd_md
    .fl-wrap.padd_ri_10
      .card-h-icon
        .svg-wrap
          =inline_svg "icons/star.svg", class: "sm-icon white-svg fx-sm-icon"
    .fl-wrap
      %p.card-h.bold Manage

  .padd_md.marg_left_10
    .padd_bott_md.fl-cont
      .fl-wrap.padd_ri_10
        -#=link_to command_agent_path(agent: @agent, cmd: 'run'), method: :post, class: 'undec' do
          .mdc-button.btn-lite-blue{style:'background-color: rgba(61, 232, 100, 0.2) !important; color: #109c37 !important;'}
            .fl-cont.gx-fl-center
              .fl-wrap.padd_ri_10
                =inline_svg "icons/run.svg", class: "sm-icon btn-green-svg"
              .fl-wrap{style:'padding-top:1px;'}
                Run
      .fl-wrap.padd_ri_10
        =link_to command_agent_path(agent: @agent, cmd: 'start'), method: :post, class: 'undec' do
          .mdc-button.btn-lite-blue{style:'background-color: rgba(61, 232, 100, 0.2) !important;     color: #109c37 !important;'}
            .fl-cont.gx-fl-center
              .fl-wrap.padd_ri_10
                =inline_svg "icons/play.svg", class: "sm-icon btn-green-svg"
              .fl-wrap{style:'padding-top:1px;'}
                Start

      .fl-wrap.padd_ri_10
        =link_to command_agent_path(agent: @agent, cmd: 'restart'), method: :post, class: 'undec' do
          .mdc-button.btn-lite-blue{style:'background-color: rgba(189, 122, 35, 0.13) !important; color: #866a2c !important;'}
            .fl-cont.gx-fl-center
              .fl-wrap.padd_ri_10
                =inline_svg "icons/restart.svg", class: "sm-icon dark-orange-svg"
              .fl-wrap{style:'padding-top:1px;'}
                Restart

      .fl-wrap.padd_ri_10
        =link_to command_agent_path(agent: @agent, cmd: 'stop'), method: :post, class: 'undec' do
          .mdc-button.btn-lite-blue{style:'background-color: rgba(228, 29, 29, 0.13) !important; color: #e41d35 !important; '}
            .fl-cont.gx-fl-center
              .fl-wrap.padd_ri_10
                =inline_svg "icons/stop.svg", class: "sm-icon red-svg"
              .fl-wrap{style:'padding-top:1px;'}
                Stop




      .fl-wrap.padd_ri_10
        =link_to command_agent_path(agent: @agent, cmd: 'delete'), method: :post, class: 'undec', data: { confirm: "Are you sure you want to delete agent?"} do
          .mdc-button.btn-lite-blue{style:'background-color: rgba(228, 29, 29, 0.13) !important; color: #e41d35 !important; '}
            .fl-cont.gx-fl-center
              .fl-wrap.padd_ri_10
                =inline_svg "icons/delete.svg", class: "sm-icon red-svg"
              .fl-wrap{style:'padding-top:1px;'}
                Delete


.app_wrap.border.marg_bott_md
  .fl-cont.gx-fl-center.padd_md
    .fl-wrap.padd_ri_10
      .card-h-icon
        .svg-wrap
          =inline_svg "icons/build.svg", class: "sm-icon white-svg fx-sm-icon"
    .fl-wrap.fl-grow
      %p.card-h.bold Config
    .fl-wrap
      = link_to edit_config_agent_path(@agent), class:'undec' do
        .mdc-button.btn-lite-blue
          Edit

  .padd_md.marg_left_10
    .padd_bott_md
      %pre.new-pre
        = preserve do
          = @agent.config


.app_wrap.border.marg_bott_md
  .fl-cont.gx-fl-center.padd_md
    .fl-wrap.padd_ri_10
      .card-h-icon
        .svg-wrap
          =inline_svg "icons/logs.svg", class: "sm-icon white-svg fx-sm-icon"
    .fl-wrap.fl-grow
      %p.card-h.bold Log
    .fl-wrap
      = link_to raw_log_agent_path(@agent), class: "undec" do
        .mdc-button.btn-lite-blue
          .fl-cont.gx-fl-center
            .fl-wrap.padd_ri_10
              =inline_svg "icons/download.svg", class: "sm-icon gex-svg"
            .fl-wrap{style:'padding-top:1px;'}
              Download logs

  .padd_md.marg_left_10
    .padd_bott_md
      = preserve do
        = render partial: "shared/vue/fluent_log", locals: { log_path: @agent.log_path }


-#.old
  %h1 Agent: #{@agent.title}
  %hr
  %b name:
  #{@agent.conf_name}
  %br
  %b status:
  #{@agent.status}
  %br
  %b tag:
  #{@agent.tag}

  %br
  %br
  Manage:

  =link_to 'Run', command_agent_path(agent: @agent, cmd: 'run'), method: :post, class: 'btn btn-primary'
  =link_to 'Start', command_agent_path(agent: @agent, cmd: 'start'), method: :post, class: 'btn btn-primary'
  =link_to 'Stop', command_agent_path(agent: @agent, cmd: 'stop'), method: :post, class: 'btn btn-primary'
  =link_to 'Restart', command_agent_path(agent: @agent, cmd: 'restart'), method: :post, class: 'btn btn-primary'
  %hr
  .row
    .col-lg-6.col-xs-12
      %h2 Log
      = link_to raw_log_agent_path(@agent), class: "btn btn-primary pull-right" do
        = icon('fa-download')
        = t('fluentd.common.raw_log_link')
      = preserve do
        = render partial: "shared/vue/fluent_log", locals: { log_path: @agent.log_path }
    .col-lg-6.col-xs-12
      %h2
        Config
        = link_to t('terms.edit'), edit_config_agent_path(@agent), class: "btn btn-default pull-right"
      %pre
        = preserve do
          = @agent.config
