-# page_title t('.page_title')


.sidebar-header
  .fl-wrap.fl-grow
    %h2.sb-text.sb-h1-text=t('.page_title')
    .clearfix
    %p.sb-p-text.gr
      Add page description here.

.row
  - settings_types_with_icons.each do |type, params|
    = link_to send("daemon_setting_in_#{type}_path", @fluentd) do
      .col-lg-3.col-md-12
        .padd_md.hand_cursor.lite-gx-border.fl-cont.marg_bott_md.gx-fl-center
          .fl-wrap
            .div.gx-grad{style:'border-radius: 50%; padding: 10px;     height: 38px;'}
              =inline_svg "icons/sources/#{type}.svg", class: "sm-icon white-svg"
          .fl-wrap.fl-grow.padd_left_md.padd_ri_md
            %p.no_marg.bold{style:'font-size: 20px;  line-height: 20px; color: #565656;'}= t("fluentd.common.setup_in_#{type}")
            -#=type
          .fl-wrap.padd_left_md.padd_ri_10.marg_left_md
            =inline_svg "icons/next.svg", class:"lg-icon gex-svg"



-#.row.fluentd-setting-inout
  - settings_types_with_icons.each do |type, params|
    .col-lg-2.col-md-4.col-xs-12
      .panel.panel-default
        .panel-heading
          %h4
            = icon("#{params[:icon]} fa-lg")
            = t("fluentd.common.setup_in_#{type}")
        .panel-body
          %p
            = link_to('Choose', send("daemon_setting_in_#{type}_path", @fluentd), class: %i(btn btn-default btn-block btn-success))
