

= simple_form_for(@kudu, url: kudus_tables_path, method: post, html: { class: 'form-horizontal', multipart: true }) do |f|
  = f.error_notification
  -#= render 'shared/form_errors', {f: f}

  .input-group
    = f.input :name, placeholder: '', :label=>false

    %h3 Columns
    #columns
      = f.simple_fields_for :columns, html: { class: 'form-horizontal' } do |columns|
        = render 'column_fields', f: columns
      .links
        = link_to_add_association 'add', f, :columns, class: 'btn btn-primary btn-lg'

  .buttons
    = f.button :submit, :class => "btn btn-default", :value=>"Create table"
