

= horizontal_simple_form_for(@kudu, url: kudus_tables_path) do |f|
  -#= f.error_notification
  = render 'shared/form_errors', {f: f}

  %h5 Username
  = f.input :name, placeholder: '', :label=>false


  %h5 Email
  = f.input :type, :label=>false, collection: @types, selected: Kudu::DEFAULT_NAME

  -#= f.input :email, placeholder: ''
  -#= f.input :teamname, placeholder: ''
  %h5 Team
  = f.simple_fields_for :team do |f_team|
    = f_team.input :name, :label=>false

  %h5 Hadoop type name
  = f.simple_fields_for :types do |types|
    = types.collection_select :name, @types, :name, :title, selected: Kudu::DEFAULT_NAME

  %h5 First name
  = f.input :firstname, placeholder: '', :label=>false
  %h5 Last name
  = f.input :lastname, placeholder: '', :label=>false

  %h5 Country
  = f.input :country, placeholder: '', :label=>false, :as => :string
  %h5 Phone number
  = f.input :phone_number, placeholder: '', :label=>false
  %h5 Password
  = f.input :password, hint: 'Minimum 8 characters.', :label=>false, :as => :string
  -#%h5 Confirm your password
  -#= f.input :password_confirmation, placeholder: '', :label=>false

  .buttons
    = f.button :submit, :class => "btn btn-default", :value=>"Create user"

%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th name
      %th type
  %tbody
    %tr
      %td
        = horizontal_simple_form_for(@kudu) do |f|
          %table
            %tr
              %td= f.input :name, placeholder: '', :label=>false
              %td= f.input :type, :label=>false, collection: @types, selected: Kudu::DEFAULT_NAME

