.sidebar-header
  .fl-wrap.fl-grow
    .fl-cont
      .fl-wrap.padd_ri_sm
        %h2.sb-text.sb-h1-text.gr Columns of table
      .fl-wrap
        %h2.sb-text.sb-h1-text=@name
    .clearfix
    %p.sb-p-text.gr
      Use this window to edit Kudu table.
  .fl-wrap
    = link_to "Edit table", edit_table_path(name: @name), :class => "undec mdc-button gex-btn-new"


%br
%table.table.table-striped.table-bordered.table-hover
  %tr
    %th id
    %th Name
    %th Type
    %th Comment
    %th Primary Key
    %th Nullable
    %th Default Value
    %th Encoding
    %th Compression
    %th Block Size


  - @table_from_kudu.each_with_index do |item, id|
    %tr
      %td= id + 1
      %td= item['name']
      %td= item['type']
      %td= item['comment']
      %td= item['primary_key']
      %td= item['nullable']
      %td= item['default_value']
      %td= item['encoding']
      %td= item['compression']
      %td= item['block_size']
  -# @table_columns.each do |t|
    %tr
      %td= t.id
      %td= t.name
      %td= t.type_name
