.col-xs-4.table-block
  .well
    %h4
      = t('.table')
      %span=index+1
    - @setting.table_fields.each do |key|
      .form-group
        = label_tag "table_#{index}_#{key}", key.to_s.humanize
        = text_field_tag "fluentd_setting_in_sql[table][][#{key}]", table[key], id: "table_#{index}_#{key}", class: %i(form-control)
        = "<small class='form-text text-muted'>#{@setting.fields_descriptions[:table][key]}</small>".html_safe
    .row
      %button.btn.btn-danger.center-block.bnt-small.remove-table-block{style: ("display: none" if table_count == 1)}= t('.remove')