= vertical_simple_form_for(@agent, url: plugin_setting_form_action_url, defaults: { input_html: { class: "new-input" } }) do |f|
  = render "shared/setting_errors"

  .tab-content{style:"max-width: 900px;"}
    #source.tab-pane.fade.in.active
      =render 'shared/sidebar_header', main: t("fluentd.settings.#{target_plugin_name}.show.page_title"), gray: t("fluentd.settings.page_add") , decsription: 'todo'
      .padd_bott_md.padd_top_md
        .well.gx-well
          = raw t("fluentd.settings.#{target_plugin_name}.option_guide")

      = f.input :title,  required: true, value: '', label: 'Name of Agent', input_html: {value: '', class: "new-input"}
      = f.input :tag, label: 'Tag', input_html: {class: "new-input"}

      = f.simple_fields_for :source do |f_source|
        - @agent.source.common_options.each do |key|
          - v = @agent.source.details.attributes[key.to_s]
          = f_source.input key.to_sym, :input_html => { :value => v, class: "new-input"}
          - if @agent.source.try(:fields_descriptions).present?
            %small.form-text.text-muted= @agent.source.fields_descriptions[key]
        - if @agent.source.advanced_options.present?
          .fl-cont.fl-center.marg_bott_md.padd_top_md{style:"justify-content: flex-start;"}
            .fl-wrap.fl-growr
              %h3.h-txt.bold.no_marg.marg_bott_sm Advanced settings
              .clearfix
              %h6.gr.no_marg  Click on the arrow to set advanced settings.
            .fl-wrap.padd_left_big
              %button.mdc-fab.mdc-fab--mini.lite-blue{style:" box-shadow: none;", "data-toggle" => "collapse", "href" => "#advanced-setting"}
                =inline_svg 'icons/down.svg', class: 'gex-svg round-btn-icon'

          #advanced-setting.collapse
            - @agent.source.advanced_options.each do |key|
              - v = @agent.source.details.attributes[key.to_s]
              = f_source.input key.to_sym, :input_html => { :value => v, class: "new-input"}
              - if @agent.source.try(:fields_descriptions).present?
                %small.form-text.text-muted= @agent.source.fields_descriptions[key]

          -#.well.well-sm
            %h4{"data-toggle" => "collapse", "href" => "#advanced-setting"}
              = icon('fa-caret-down')
              = t('terms.advanced_setting')
            #advanced-setting.collapse
              - @agent.source.advanced_options.each do |key|
                - v = @agent.source.details.attributes[key.to_s]
                = f_source.input key.to_sym, :input_html => { :value => v, class: "new-input"}
                - if @agent.source.try(:fields_descriptions).present?
                  %small.form-text.text-muted= @agent.source.fields_descriptions[key]
      .padd_top_md.pull-right
        %a.undec.mdc-button.gex-btn-new.scroll-top.go-to-output{data: {toggle: :tab}, href: '#outputs'} Next

    = render 'shared/settings/outputs', f: f

-#= render 'shared/settings/common_settings_page', action: plugin_setting_form_action_url(@fluentd), action_type: 'add'
-#= form_for(@agent, url: plugin_setting_form_action_url, html: {class: "ignore-rails-error-div"}) do |form|
  .tab-content
    #source.tab-pane.fade.in.active
      - page_title "#{t("fluentd.settings.page_add")} #{t("fluentd.settings.#{target_plugin_name}.show.page_title")}"

      .well
        = raw t("fluentd.settings.#{target_plugin_name}.option_guide")

      = render "shared/setting_errors"

      - # NOTE: plugin_setting_form_action_url is defined at SettingConcern

      = form.fields_for :source do |source_fields|
        = source_fields.fields_for :details do |details_fields|
          -#= details_fields.text_field :consumer_key
          - @agent.source.common_options.each do |key|
            = field(details_fields, key)

          - if @agent.source.advanced_options.present?
            .well.well-sm
              %h4{"data-toggle" => "collapse", "href" => "#advanced-setting"}
                = icon('fa-caret-down')
                = t('terms.advanced_setting')
              #advanced-setting.collapse
                - @agent.source.advanced_options.each do |key|
                  = field(details_fields, key)
          - if @section_id.present?
            = hidden_field_tag :id, @section_id
    = form.submit t('fluentd.common.finish'), class: "btn btn-lg btn-primary pull-right"