<% name ||= "" %>
<% action ||= "" %>
<% submit_button ||= "" %>
<%= form_tag(action, method: :post) do %>
    <div class="form-group string optional agent_title">
      <label class="control-label string optional" for="agent_title">Name of Agent</label>
      <input class="new-input string optional" type="text" value="My agent name" name="agent[title]" id="agent_title">
      <%#
      <label class="control-label string optional" for="agent_tag">Tag</label>
      <input class="new-input string optional form-control" type="text" value="type_expected_tail_tag" name="agent[tag]" id="agent_tag">
      /%>
    </div>
  <div id="treeview" initialPath="/var/log">
    <label class="control-label string optional" for="path_file">Path to file</label>
    <div class="new-input disabled">{{ path }}</div>
    <input type="hidden" name="<%= name %>" v-model="path" />

    <div class="dirs padd_top_md padd_bott_md">
      <span v-repeat="currentDirs">
        <span v-if="$index > 0">
          <%= icon('fa-caret-right') %>
        </span>
        <span v-on="click: selectPath($value)" class="dir">{{ basename($value) }}</span>
     </span>
   </div>
   <div class="tree">
     <span v-on="click: selectPath(path)" class="vue-path" v-class="selected: isSelected(path)" v-repeat="paths">
       <span v-if="is_dir"><%= icon("fa-folder") %></span>
       <span v-if="!is_dir"><%= icon("fa-file-o") %></span>
       {{ basename(path) }}
       <br />
     </span>
   </div>

    <div v-if="preview" class="padd_top_md marg_top_10">
      <h3 class="bold no_marg">Preview </h3>

      <pre  class="preview new-pre">{{ preview }}</pre>
    </div>


    <div class="fl-cont fl-center">

      <div class="fl-wrap fl-grow">
        <p class=" text text-danger bold no_marg">
          <%=t('fluentd.settings.in_tail.notice_for_permission', user: fluentd_run_user)%>
        </p>
      </div>



      <div class="fl-wrap ">
        <p class="padd_top_md padd_bott_md">
          <%= submit_tag submit_button, class: "undec mdc-button gex-btn-new", "v-attr" => "disabled: selectedIsDir", "v-class" => "btn-disable: selectedIsDir" %>
        </p>
      </div>



    </div>


  </div>
<% end %>
